.lobby {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  color: $primary-font-color;
  background-image: url('../assets/images/backgrounds/lobby.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem 4rem;

  &-header { flex: 0 0 10rem; }

  &-main {
    max-height: calc(100% - 14rem); // 14rem === &-header height + &-buttons height
    display: flex;
    flex-grow: 1;
    justify-content: space-around;

    &__left {
      flex: 0 0 55%;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      & > .hero-selection { max-height: calc(100% - 3.5rem); } // 3.5rem === &__subtitle height
    }
    &__right { flex: 0 0 40%; }
  }

  &-buttons {
    flex: 0 0 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__title {
    font-size: 2.5rem;
    font-family: $headers-font;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__subtitle {
    height: 3.5rem;
    display: block;
    font-size: 1.5rem;
    font-family: $primary-font;
  }

  &__link-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
  }

  &__game-link {
    position: relative;
    flex-grow: 1;
    margin-left: 1rem;
    background: rgba(69, 52, 52, 0.5);
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    padding: .3rem;

    &::before {
      content: url('../assets/icons/copy.svg');
      cursor: pointer;
      position: absolute;
      height: 1.5rem;
      width: 1.5rem;
      right: 5px;
    }
  }

  &__name-input {
    background: rgba(69, 52, 52, 0.5);
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    padding: .3rem;
    width: calc(100% - 10rem);
    font-size: 1.5rem;
    font-family: $primary-font;
    color: $primary-font-color;
    margin-left: 1rem;
  }
}
