.target-selection {
  max-width: 1000px;
  height: 100%;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'VNI-Canun', sans-serif;

  pointer-events: auto;
}

.target-selection__title {
  text-align: center;

  font-size: 2rem;
  color: $secondary-font-color;
  text-shadow: -2px 0 $primary-dark-color, 0 2px $primary-dark-color, 2px 0 $primary-dark-color, 0 -2px $primary-dark-color;
}

.target-selection__targets-wrapper {
  display: flex;
  justify-content: center;
}

.target-selection__target {
  display: flex;
  flex-direction: column;

  max-width: 250px;
  margin: 0.5rem;
  padding: 0.5rem;

  border: 2px solid $selection-target-font-color;
  border-radius: 8px;

  background-color: $primary-dark-color;

  font-size: 1.25rem;
  color: $selection-target-font-color;

  &:hover {
    cursor: pointer;

    border-color: $secondary-font-color;
    box-shadow: 0px 0px 16px 0px $secondary-font-color;
  }
}

.target-selection__img {
  width: 100%;
  height: auto;

  border-radius: 8px;

  margin: 0 0 0 0;
}

.target-selection__target-title {
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex-grow: 2;
  margin: 10px 0;

  text-align: center;
  vertical-align: center;
}

.target-selection__time-container {
  width: 80%;
  margin: 1.5rem 0 ;
  height: 2rem;

  background-color: $primary-dark-color;
  border-radius: 1rem;
  border: 3px solid $primary-dark-color;

  overflow: hidden;
}

.target-selection__time {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, $primary-success-color 0%, rgba(14, 183, 11, 0.5) 100%), $primary-dark-color;

  animation-name: time;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes time {
  0%   {width: 100%}
  100% {width: 0}
}
