// fonts
$primary-font: 'Neucha', cursive;
$headers-font: 'VNI-Canun', sans-serif;

// font colors
$primary-font-color: #FFF;
$button-font-color: #5E0D0C;

// ui colors
$shadow-color: #C4D7E6;
$shadow-color-light: rgba(255, 255, 255, 0.75);
$shadow-color-extra-light: #FFF;
$shadow-color-dark: rgba(0, 0, 0, 0.5);
$button-color: linear-gradient(180deg, #C81B44 0%, #F5A404 100%);
$button-hover-color: linear-gradient(180deg, #EA8413 0%, #F5A404 50%, #C81B44 60%, #F5A404 100%);
