@import './fonts.scss';
@import './constants.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:active, &:focus { outline: none; }
}

html {
  font-size: 16px;
}

body { overflow: hidden; }

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: black;
}

@import '../components/start-screen/start-screen.scss';
@import '../components/player-list/player-list.scss';
@import '../components/card-spell/card-spell.scss';
@import '../components/hero-selection/hero-selection.scss';
@import '../components/opponents-cards/opponents-cards.scss';
@import '../components/game-screen/game-screen.scss';
@import '../components/player-cards/player-cards.scss';
@import '../components/overlay/overlay.scss';
@import '../components/base-button/base-button.scss';
@import '../components/dice-roller/dice-roller.scss';
