@import './constants.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:active, &:focus { outline: none; }
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

@import '../components/start-screen/start-screen.scss';
@import '../components/card-spell/card-spell.scss';
