@import './fonts.scss';
@import './constants.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:active, &:focus { outline: none; }
}

html {
  font-size: 16px;
}

body { overflow: hidden; }

main {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $primary-dark-color;
}

.component {
  & *::-webkit-scrollbar { width: .7rem; }
  & *::-webkit-scrollbar-track { background: none; }
  & *::-webkit-scrollbar-thumb {
    background: $primary-dark-color;
    border-radius: .35rem;
  }
}

@import '../components/overlay/overlay.scss';
@import '../components/base-button/base-button.scss';
@import '../components/avatar/avatar.scss';
@import '../components/start-screen/start-screen.scss';
@import '../components/player-list/player-list.scss';
@import '../components/card-spell/card-spell.scss';
@import '../components/hero-selection/hero-selection.scss';
@import '../components/game-screen/game-screen.scss';
@import '../components/player-display/player-display.scss';
@import '../components/opponents-cards/opponents-cards.scss';
@import '../components/player-cards/player-cards.scss';
@import '../components/dice-roller/dice-roller.scss';
@import '../components/timer/timer.scss';
@import '../components/overlay/overlay.scss';
@import '../components/base-button/base-button.scss';
@import '../components/lobby-screen/lobby-screen.scss';
@import '../components/about-screen/about-screen.scss';
