.game-player {
  &--selected &__avatar {
    box-shadow: 0 0 1.5rem 0 $accent-color, inset 0 0 .5rem 0 $accent-color;
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 28rem;
    min-width: 23rem;
    min-height: 6.7rem;
    margin: 1rem 1rem 1rem 2rem;
    padding-left: 5.9rem;
    border-radius: 1.5rem;

    &--dead {
      &.game-player__container--opponent {
        background-color: $primary-dark-color;
      }

      .game-player__hero {
        color: $primary-attention-color;
      }
    }

    &--opponent {
      background-color: $shadow-color-darkest;

      .game-player__health {
        border-bottom-right-radius: 1.5rem;
      }
    }

    &--current {
      justify-content: center;

      .game-player__hero {
        text-shadow: -2px 0 $primary-dark-color,
                     0 2px $primary-dark-color,
                     2px 0 $primary-dark-color,
                     0 -2px $primary-dark-color;
        // text-shadow: 0.2rem 0.15rem 0.1rem $primary-dark-color;
        // -webkit-text-stroke: 0.1rem $primary-dark-color;
      }

      .game-player__health {
        margin-top: 0.5rem;
        padding-left: 2.25rem;
        border-radius: 0px 20px 20px 0px;

        &::before {
          top: -11px;
          left: -18px;
        }
      }
    }
  }

  &__avatar {
    position: absolute;
    top: -6%;
    left: -7%;
    width: 7.5rem;
    height: 7.5rem;
    border: 0.2rem solid $primary-dark-color;
    border-radius: 50%;
    transition: all .3s ease-out;
  }

  &__name,
  &__hero {
    margin-left: 0.7rem;
    font-size: 1.25rem;
  }

  &__name {
    @include primary-font;
    margin-top: 0.25rem;
  }

  &__hero {
    font-family: $headers-font;
    font-weight: bold;
    color: $secondary-font-color;
    line-height: 120%;
  }

  &__health {
    @include primary-font;
    position: relative;
    margin-top: 3px;
    padding-left: 1.75rem;
    font-size: 1.5rem;
    border: 2px solid $primary-dark-color;
    background-color: $primary-dark-color;

    &::before {
      content: url('../assets/skull-icon.svg');
      position: absolute;
      top: -11px;
      left: -26px;
      height: 3rem;
      width: 3rem;
    }
  }
}

.game-player__animation {
  &--container {
    position: absolute;
    z-index: 100;
    font-weight: bold;
    font-family: $headers-font;
    -webkit-text-stroke: 0.1rem $shadow-color-extra-light;
  }

  &--recovery {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    font-size: 3rem;
    color: $accent-color;
    transform: scale(2);
    transition: all 2s ease-in;
  }

  &--damage {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    font-size: 3rem;
    color: $secondary-attention-color;
    transform: scale(2);
    transition: all 2s ease-in;
  }
}

.game-player__container--current {
  .game-player__animation--damage,
  .game-player__animation--recovery {
    transform: scale(3) translate(-50px, -50px);
    transition: all 2s ease-in;
  }
}

.game-player__animation--hidden {
  display: none;
}
