.hero {
  cursor: pointer;
  
  &-selection {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    text-align: center;
  }

  &--selected {
    border: 3px green solid;
  }

  &--disabled{
    opacity: .5;
    pointer-events: none;
  }

}
