.rules-screen {
  width: 100%;
  background-image: url('../assets/images/backgrounds/about.jpg');
  background-position: center;
  background-size: cover;
  overflow-y: scroll;

  &__container {
    @include primary-font;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    width: 83%;
    margin: 0 auto;
    padding: 1rem 10% 2rem 10%;
    border-left: 4px solid $secondary-warning-color;
    border-right: 4px solid $secondary-warning-color;
    background-color: $shadow-color-darkest;
    color: $primary-font-color;
  }

  &__header-image {
    height: 306px;
    max-height: 50vh;
    margin-bottom: 2rem;
    background-image: url('../assets/images/about-header.jpg');
    background-position: top;
    background-size: cover;
    box-shadow: 1px 1px 3px $shadow-color,
               -1px -1px 3px $shadow-color;
  }

  &__title {
    @include headers-font;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-shadow: -2px 0 $primary-dark-color,
                  0 2px $primary-dark-color,
                  2px 0 $primary-dark-color,
                  0 -2px $primary-dark-color;
  }

  &__text {
    @include primary-font;
    font-size: 1.25rem;

    &--accent {
      font-weight: bold;
      color: $secondary-warning-color;
    }

    &--button {
      font-weight: bold;
      color: $primary-success-color;
    }

    & p {
      margin-bottom: 1.1rem;
    }

    & > h3 {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    & .narrow {
      position: relative;
      width: 80%;

      &--icon::before {
        content: '8';
        position: absolute;
        z-index: 100;
        top: 123px;
        right: -128px;
        width: 5rem;
        font-family: $headers-font;
        font-size: 2rem;
        color: $primary-dark-color;
      }
      &--icon::after {
        content: url('../assets/cards/initiative-icon.svg');
        position: absolute;
        top: 0px;
        right: -97px;
        width: 5rem;
      }
    }

    .screenshot {
      max-width: 95%;
      margin-top: 1rem;
      margin-bottom: 2rem;
      border-radius: 0.25rem;
      box-shadow: 1px 1px 3px $shadow-color,
                -1px -1px 3px $shadow-color;
    }

    .card-types {
      display: flex;
      justify-content: space-between;
      width: calc(95% - 2rem);
      margin-bottom: 1rem;
    }

    & .colored {
      position: relative;

      &::after {
        position: absolute;
        bottom: -5px;
        left: 85px;
        width: 1.6rem;
        height: 1.6rem;
        border: 4px solid $primary-dark-color;
        font-family: $headers-font;
        font-size: 1.6rem;
        text-align: center;
        text-transform: uppercase;
        color: $primary-dark-color;
      }

      &--sourse {
        color: $card-type-source;
        font-weight: bold;
      }
      &.colored--sourse::after {
          content: 'И';
          background-color: $card-type-source;
      }

      &--quality {
        color: $card-type-quality;
        font-weight: bold;
      }
      &.colored--quality::after {
          content: 'К';
          background-color: $card-type-quality;
      }

      &--action {
        color: $card-type-action;
        font-weight: bold;
      }
      &.colored--action::after {
          content: 'Д';
          background-color: $card-type-action;
      }
    }

    .elements__colored {
      // position: relative;
      // padding-left: 45px;
      line-height: 200%;

      &::before {
        // position: absolute;
        display: inline-block;
        // bottom: -5px;
        // left: 0;
        width: 1.6rem;
        height: 1.6rem;
        transform: translateY(-5px);
        margin-right: 0.2rem;
        padding: 0.2rem;
        border: 2px solid $primary-dark-color;
        border-radius: 50%;
        background-color: currentColor;
        vertical-align: bottom;
        overflow: hidden;
      }

      &--mystery {
        color: $card-element-mystery;
          &::before {
          content: url('../assets/cards/mystery-sign-icon.svg');
        }
      }
      &--dark {
        color: $card-element-dark;
          &::before {
          content: url('../assets/cards/dark-sign-icon.svg');
        }
      }
      &--nature {
        color: $card-element-nature;
          &::before {
          content: url('../assets/cards/nature-sign-icon.svg');
        }
      }
      &--element {
        color: $card-element-element;
        &::before {
          content: url('../assets/cards/element-sign-icon.svg');
          width: 2rem;
          height: 2rem;
          padding: 0;
          border-color: $card-element-element;
          background-color: $primary-dark-color;
        }
      }
      &--illusion {
        color: $card-element-illusion;
          &::before {
          content: url('../assets/cards/illusion-sign-icon.svg');
        }
      }
    }
  }

  &__button {
    align-self: center;
    margin-top: 3rem;
  }
}
