.start-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: cover;
  transition: all 0.5s ease-in-out;

  &__logo {
    margin-top: 1rem;
    margin-bottom: -5rem;
    z-index: 10;
    pointer-events: none;
    width: 30rem;
    max-width: 100%;

    img {
      display: block;
      max-width: 100%;
      max-height: auto;
      margin: 0 auto;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -2rem;
    background: linear-gradient(180deg, #000 0%, transparent 100%);
    padding: 6rem 3rem;
  }

  &__button:not(:last-child) {
      margin-bottom: 1rem;
  }
  
  &--hidden {
    opacity: 0;
  }
}

@media (min-width: $large-screen-width), (min-height: $large-screen-height) {
  .start-screen__logo {
    width: 22rem;
    margin-top: 3rem;
  }
  .start-screen__buttons {
    padding: 7rem 2rem;
  }
}