.overlay {
  opacity: 1;
  position: fixed;
  transition: 1s ease-in-out;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: $shadow-color-darkest;
  z-index: 1000;
  transition: all .3s;

  &.overlay--before-append {
    opacity: 0;
  }

  &.overlay--before-remove {
    opacity: 0;
  }
}
