.game-screen {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('../assets/images/backgrounds/game.jpg');
  background-position: center;
  background-size: cover;
  overflow: hidden;

  &__opponent-cards {
    position: relative;
    z-index: 2;
    flex: 0 0 30%;
    max-height: 22rem;
    min-height: 15rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
  }

  &__play-section {
    position: relative;
    z-index: 3;
    flex: 1 0 70%;
    min-height: 22rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }

  &__opponent-section {
    flex: 0 0 30%;
    min-width: 20rem;
  }

  &__card-section {
    flex: 0 0 50%;
    min-width: 40rem;
    text-align: center;
  }

  &__ui-layer {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }

  &__opponents-info-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__player-info-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 31%;
    min-width: 22rem;
    padding-left: 0.3;
  }

  &__game-buttons-container {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
    min-width: 22rem;
  }
}

.game-button__ready {
  pointer-events: auto;
}
